html{
    font-size: 10px;
}


.parent{
    font-size: 10px;
}


.child{
    font-size: 20px;
}

p{
    font-size: 2rem;
}


/* em follows her parent font size 
   generally, em font-size 16 px, cause of browser font size 16px 
*/


/* in rem, r stands for root
 rem does not follow parent font size
 generally, rem follows browser font size
 But, if i set html and body font-size, it ignore browser font size
 */

 /* 
  sm - 40rem - 640px
  md - 48rem - 768px
  lg - 64rem - 1024px
  xl - 80rem - 1280px
  2xl - 96rem - 1536px
 */